html {
 /* main colors */
 --color-primary: #0A1468;
 --color-primary-light: #101FA3;
 --color-primary-dark: #060C3D;

 --color-accent: #F1437F;
 --color-accent-light: #FF6197;
 --color-accent-dark: #DF004E;

/* colors - shades */
 --color-black: #1d1d21;
 --color-darker: #2e2e31;
 --color-dark: #7b7a7d;
 --color-medium: #a5a5a6;
 --color-light: #bbbbbc;
 --color-lighter: #FAFAFA;
 --color-white: white;


 /* colors - feedback */
 --color-success: #00863B;
 --color-error: #F23E3E;
 --color-warning: #FAD825;


  /* Spacing */
  --nav-height: 70px;
  --space-unit: 1.25em; /*Relative to html font-size*/
  --space-s: calc(.5 * var(--space-unit));
  --space-m: calc(1 * var(--space-unit));
  --space-l: calc(2 * var(--space-unit));


  /* Typography */
  --font-size: 1rem;
  --ratio: 1.25;
  --line-height: 1.4;

  /* Calculate values */
  --small: calc(var(--font-size) / var(--ratio));
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--font-size) * var(--ratio) * var(--ratio));
  --h2: calc(var(--font-size) * var(--ratio) * var(--ratio) * var(--ratio));
  --h1: calc(var(--font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));


  /* Timing */
  --time-fast: 0.2s;
} 

@media  (min-width: 375px) {
  html{
  --font-size: 1.25rem;
  --ratio: 1.25;
  --line-height: 1.4;
  }
}

@media  (min-width: 1800px) {
  html{
  --font-size: 1.45rem;
  --ratio: 1.25;
  --line-height: 1.4;
  }
}
