.button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    text-align: center;
    color: var(--color-primary);
    padding: var(--space-s) calc(1.5 * var(--space-s)) calc(var(--space-s) - 2px) calc(1.5 * var(--space-s));
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    margin-right: var(--space-s);
    transition: color var(--time-fast), background-color var(--time-fast);
    width: 100%;
}
.button:hover{
    color:var(--color-white);
    background: var(--color-primary);
    transition: color var(--time-fast), background-color var(--time-fast);

}


@media (min-width:400px) {
    .button{
        width: auto;
    }
}