.button{
    display: inline-block;
    text-decoration: none;
    border: 2px solid var(--color-primary);
    border-radius: 5px;
    color: var(--color-primary);
    padding: var(--space-s) calc(1.5 * var(--space-s)) calc(var(--space-s) - 1px) calc(1.5 * var(--space-s));
    margin-top: var(--space-s);
    margin-bottom: var(--space-s);
    margin-right: var(--space-s);
    transition: color 0.2s, border 0.ss;


}
.button:hover{
    border: 2px solid var(--color-primary-light);
    color:var(--color-primary-light);
    transition: color var(--time-fast), border var(--time-fast);
}


@media (max-width:400px) {
    .button{
        width: 100%;
        text-align: center;
    }
}