.disclaimer {
  background: var(--color-lighter);
  padding: 0;
}
.wrap {
  max-width: 800px;
  margin-inline: auto;
  background: #fff;
  padding: 1px 1rem 1rem 1rem;
}
.item {
  padding: 1rem;
  border: 1px solid #e4e8ed;
  border-radius: 0.5rem;
  margin-bottom: 0.5rem;
}
.item p {
  margin-bottom: 0;
  color: #5e728d;
}
strong {
  font-size: inherit;
  color: inherit;
}

@media (min-width: 950px) {
  .disclaimer {
    background: var(--color-lighter);
    padding: max(60px, 10vw);
  }
  .wrap {
    max-width: 800px;
    margin-inline: auto;
    background: #fff;
    padding: 1px 4rem 4rem 4rem;
  }
}
