.footer {
    width: 100%;
    display: grid;
    grid-template-columns:  repeat(auto-fit, minmax(300px,1fr));
    background: var(--color-primary-dark);
    padding: var(--space-unit);

}
.footer div{
    margin: var(--space-unit);
}
.footer a,
.footer p{
    font-size: var(--small);
    color: var(--color-white);
    line-height:calc(1.5 * var(--line-height));
    text-decoration: none;
    margin-bottom: 0;
}

.footer a{
    opacity: 0.8;
    transition: opacity 200ms;
}

.footer a:hover{
    opacity: 1;
    transition: opacity 200ms;
} 