footer {
    width: 100%;
    display: grid;
    background: var(--color-darker);
    padding: var(--space-m);
}

footer a{
    text-decoration: none;
    color: var(--color-white);

    opacity: 0.8;
    transition: opacity 200ms;

}

footer a:hover{
    opacity: 1;
    transition: opacity 200ms;

} 
footer a:not(:first-child){
    padding-left: var(--space-m);
}