.header {
    position: fixed;
    top:0;
    width: 100%;
    z-index: 100;
    background: white;
    /* border-bottom: 1px solid var(--medium-color); */
    box-shadow: 0 1px 4px var(--medium-color);
    height: var(--header-height);
    display: grid;
    align-items: center;
    padding:0 var(--medium-space);
}
.headerGroup{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header .links{
    display: flex;
}
.links a{
    margin-top: 5px;
    padding: 10px;
    text-decoration: none;
    color: var(--primary-color);
}

.header img {
    max-height: 50px;
    margin-bottom:0;

}

.header .logo{
    display: flex;
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom:0;
    align-items: center;


}
