.hero{
    width: 100%;
    min-height: 50vh;
    display: table; /*IE*/
    vertical-align: middle; /*IE*/
    display: table;/*IE*/
    display: flex;
    justify-content: center;
    padding: var(--space-m);
    position: relative;
    z-index: 5;

}

.content{
    display: table-cell;/*IE*/
    vertical-align: middle;/*IE*/
}

.logo{
    display:none;/*IE*/
}
/*All browsers other than IE*/
@supports (display: grid) {
    .content{
        margin: auto;
        display: flex; 
        flex-wrap: wrap;
    }
    .logo{
        display: inline-block;
        width: auto;
        max-width: 80vw;
        height: calc(2 * var(--space-l));
        margin-bottom: var(--space-unit);
        margin-right: var(--space-unit);
    }
}
.copy{
    margin-left: auto;
    margin-right: auto;
    flex: 2 1 500px;
    max-width:700px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    margin-bottom: -50px;
}