.hero{
    width: 100%;
    min-height: 50vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    padding: var(--space-m);
    position: relative;
    z-index: 5;

}

.content{
    margin: auto;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.logo{
    width: auto;
    max-width: 80vw;
    height: calc(2 * var(--space-l));
    margin-bottom: var(--space-unit);
    margin-right: var(--space-unit);
}

.copy{
    -ms-flex: 2 1 500px;
    flex: 2 1 500px;
    max-width:700px;
}

.wave {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 100px;
    margin-bottom: -50px;
}