/*Browser Reset*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
p,a,li{
  font-size: var(--font-size);
  line-height: var(--line-height);
}

h1{
  font-size: var(--h1);
  margin-bottom: var(--space-m);
}
h2{
  font-size: var(--h2);
}
h3{
  font-size: var(--h3);
}
h4{
  font-size: var(--h4);
}
ul{
    list-style: none;
}

.app{
  margin-bottom: var(--nav-height);
  overflow: hidden;
}


@media (min-width: 600px) {
  .app{
    margin-top: calc(var(--nav-height) + var(--space-s));
    margin-bottom: 0;

  }
  

}