/* Hides Desktop Nav items */
.desktop{
    display: none;
}

/* Mobile Nav */
nav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 100;
    background: white;
    box-shadow: 0 1px 4px var(--color-medium);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    padding:0;
}

nav a{
    padding: calc(0.5 * var(--space-s)) 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-primary-light);
}
nav svg{
    fill: var(--color-primary);
}

nav a svg,
nav a span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

nav svg{
    margin: calc(0.5 * var(--space-s));
}
.active,
.active span,
.active svg{
    color: var(--color-primary-light);
    fill: var(--color-primary-light);
}

nav a:hover svg,
nav a:hover span {
    color: var(--color-primary-light);
    fill: var(--color-primary-light);
}

/* Desktop Nav */
@media (min-width: 600px) {
    nav {
        top:0;
        height: var(--nav-height);
        box-shadow: 0 1px 14px var(--color-light);
        grid-template-columns:  1fr repeat(3,auto);
        justify-items: start;
        padding:0 var(--space-m);
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
        /* align-items: center;
        justify-content: space-between; */
    }
    nav a:not(:first-child){
        padding-left: var(--space-m);
    }

    .logo{
        /* display: flex; */
        color: var(--color-primary);
        text-decoration: none;
        margin-bottom:0;
        /* align-items: center; */
    }
    .logo img {
        max-height: 30px;
        margin-bottom:0;
    }


}
