/* Hides Desktop Nav items */
.desktop{
    display: none;
}

/* Mobile Nav */
.nav {
    overflow: hidden;
    width: 100%;
    position: fixed;
    bottom:0;
    z-index: 100;
    background: white;
    box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.05);
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(4, 1fr);
    -ms-grid-row-align: center;
    align-items: center;
    justify-items: center;
    padding:0;
}

.nav a{
    padding: calc(0.5 * var(--space-s)) 0;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-medium);
}
.nav svg{
    fill: var(--color-medium);
    width: 24px;
    height: 24px;
}

.mobile a svg,
.nav a span{
    display: block;
    margin-left: auto;
    margin-right: auto;
    font-size: 12px;
}

.nav svg{
    margin: 4px;
}
.active,
.active span,
.active svg{
    color: var(--color-primary-light);
    fill: var(--color-primary-light);
}
.nav a:hover,
.nav a:hover svg,
.nav a:hover span {
    color: var(--color-primary-light);
    fill: var(--color-primary-light);
}

/* Desktop Nav */
@media (min-width: 800px) {
    .nav {
        top:0;
        height: var(--nav-height);
        box-shadow: 0 1px 14px rgba(0,0,0,0.1);
        -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
        grid-template-columns:  1fr repeat(3,auto);
        justify-items: start;
        padding:0 var(--space-unit);
        font-size: 18px;
    }
    .mobile{
        display: none;
    }
    .desktop{
        display: flex;
    }
    nav a:first-of-type{
        -ms-grid-column: 1;
    }
    nav a:nth-of-type(2) {
        -ms-grid-column: 3;
    }
    nav a:nth-of-type(3) {
        -ms-grid-column: 4;
    }
    nav> a:nth-of-type(4) {
        -ms-grid-column: 5;
    }
   
    .nav a:not(:first-of-type){
        padding-left: var(--space-s);
        padding-right: var(--space-s);
    }
    .nav svg{
        fill: var(--color-medium);
        width: 15px;
        height: 15px;
    }
    .iconLink{
        display: flex;
        align-items: flex-end;
    }
    /* .icon{
        margin-right: var(--space-unit);
    } */
    .logo{
        /* display: flex; */
        color: var(--color-primary);
        text-decoration: none;
        margin-bottom:0;
        /* align-items: center; */
    }
    .logo img {
        max-height: 50px;
        margin-bottom:0;
    }
    .nav a.button {
        border: 2px solid var(--color-success);
        color: var(--color-success);
        border-radius: 5px;
        padding-top: calc(0.5 * var(--space-s));
        padding-top: calc(0.5 * var(--space-s));
        transition: color var(--time-fast), background-color var(--time-fast);
        margin-left: calc(1.5 * var(--space-s));
        width: auto;
    }
    .nav .button:hover{
        color: var(--color-white);
        background: var(--color-success);
        transition: color var(--time-fast), background-color var(--time-fast);
    
    }
    

}
