.newsContainer{
    background: var(--color-warning);
    width: 100%;
}
.newsItem {
    color: var(--color-white);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.newsItem > div{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    /* display: grid;
    grid-template-columns: var(--space-l) auto;
    grid-column-gap: var(--space-s);
    align-items: center; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: var(--space-s);

}

.icon{
    height: var(--space-l);
    width: var(--space-l);
    display: grid;
    align-items: center;
    background: var(--color-white);
    border-radius: 5px;
    flex: 0 0 var(--space-l);
    margin-right: var(--space-s);
}

svg{
    margin: auto;
}

.date{
    font-size: var(--small);
    text-transform: uppercase;
}