.newsContainer{
    background: var(--color-warning);
    width: 100%;
}
.newsItem {
    color: var(--color-primary);
    border-bottom: 1px solid rgba(0,0,0,0.2);
}
.newsItem > div{
    margin-left: auto;
    margin-right: auto;
    width: auto;
    display: flex;
    justify-content: center;
    padding: var(--space-s);
}

.newsItem span{
    display: block;
}
.icon{
    height: var(--space-l);
    width: var(--space-l);
    display: grid;
    align-items: center;
    background: var(--color-primary);
    border-radius: 5px;
    flex: 0 0 var(--space-l);
    margin-right: var(--space-s);
}

.icon svg{
    margin: auto;
    height: var(--space-m);
    width: var(--space-m);
}

.date{
    font-size: var(--small);
    text-transform: uppercase;
}