.section{
    display: flex;
    flex-wrap: wrap;
    min-height: 400px;
}
.section:nth-of-type(2n){
    background: var(--color-lighter);
}

.imageContainer{
    display: flex;
    justify-content: center;
    flex: 1 1 300px;
    min-height: 300px;
    background: var(--color-light);
    position: relative;
    overflow: hidden;
}
.contentContainer{
    flex: 3 1 400px;
    padding: var(--space-l) var(--space-m);
    display: flex;

    /* justify-content: center; */
}
.contentContainerBody {
    max-width: 700px;
    width: 100%;
    margin: auto;
}

.img{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    min-width: 100%;
    max-width: 110%;
    min-height: 300px;
  }
  
/*Times Section*/
.timesContainer {
    color: var(--color-primary);
    margin: var(--space-unit) 0;
}
.timetable {
    margin-bottom: var(--space-m);
    border-spacing: 0;
}

.timetable td{
    padding: var(--space-s) var(--space-unit);
    border:none;
}
.timetable tbody tr:nth-child(2n + 1) {
    background: var(--color-lighter);
}
.timetable tbody tr td:nth-child(2){
    text-align: right;
}

.timetable tbody tr{
    border: none;
    border:0;
}




@media (min-width: 700px) {
    .img {
        width: auto!important;/*Important to fix IE issue*/
        width: auto\9; /*fix IE image scaling issue*/
        min-width: none;
        max-width: none;
        height: 100%;

    }
}