html {
  --primary-color: darkblue;
  --secondary-color: red;
  --lightest-color: white;
  --lighter-color: #fafafa;
  --medium-color: #888888;
  --darker-color: #444444;
  --darkest-color: black;

  --nav-height: 70px;
  --big-space: 4rem;
  --medium-space: 2rem;
  --small-space: 1rem;


  /* Typography */
  --font-size: 1.25em;
  --ratio: 1.25;
  --line-height: 1.4;

  /* Calculate values */
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--h4) * var(--ratio));
  --h2: calc(var(--h3) * var(--ratio));
  --h1: calc(var(--h2) * var(--ratio));
  --small: calc(var(--font-size) / var(--ratio));



} 
