html {
  --primary-color: darkblue;
  --secondary-color: red;
  --lightest-color: white;
  --lighter-color: #fafafa;
  --medium-color: #888888;
  --darker-color: #444444;
  --darkest-color: black;



  /* Spacing */
  --nav-height: 70px;
  --space-unit: 1.25em; /*Relative to html font-size*/
  --space-s: calc(1 * var(--space-unit));
  --space-m: calc(1 * var(--space-unit));
  --space-l: calc(2 * var(--space-unit));


  /* Typography */
  --font-size: 1.25rem;
  --ratio: 1.25;
  --line-height: 1.4;

  /* Calculate values */
  --small: calc(var(--font-size) / var(--ratio));
  --h4: calc(var(--font-size) * var(--ratio));
  --h3: calc(var(--font-size) * var(--ratio) * var(--ratio));
  --h2: calc(var(--font-size) * var(--ratio) * var(--ratio) * var(--ratio));
  --h1: calc(var(--font-size) * var(--ratio) * var(--ratio) * var(--ratio) * var(--ratio));




} 
